*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}
/* Shared class */

.inter-font{
    font-family: 'Inter', sans-serif;
}


.basic-btn{
  padding: 12px 36px;
  background-color: #4E47FF;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.basic-btn:hover {
  background-color: #3c36cc;
  box-shadow: 0 4px 12px rgba(78, 71, 255, 0.4);

}


/* Header Section */

header{
  height: 700px;
  background-image: url(./Assets/Hero-bg.png);
  background-size: cover;
}

/* Navbar Section */

nav{

  margin: 0 150px;
  padding-top: 50px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  list-style: none;
}

nav li a{
  text-decoration: none;
  color: #4E47FF;
}

.logo-txt{
  font-size: 34px;
  font-weight: 900;
}

/* ***********page-1********* */

.header-page{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px
}

.header-page h1{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
}